<h1>CAR Car DEALERSHIP</h1>
<form action="/car" method="post">
  <label for="brand">Brand:</label>
  <input id="brand" name="brand" type="text">

  <label for="model">Model:</label>
  <input id="model" name="model" type="text">

  <label for="year">Year:</label>
  <input id="year" name="year" type="text">

  <label for="mileage">Mileage:</label>
  <input id="mileage" name="mileage" type="text">

  <button type="submit">Submit</button>
</form>
